.body {
	padding: 55px;
	background-color: #d4d4d4;
}

label {
	margin-left: 30px;
	width: 120px;
}

.sub-btn {
	margin-left: 252px;
	/* width: 99px; */
}

.container {
	width: 100%;
	display: inline-flex;
}

.section-1 {
	margin-left: 20px;
	width: 33%;
	display: inline-block;
}

.section-2 {
	margin-left: 20px;
	width: 33%;
	display: inline-block;
}

.section-3 {
	margin-left: 20px;
	width: 33%;
	display: inline-block;
}